<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>archerrun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>COCArcherrun.png</string>
            <key>size</key>
            <string>{50,50}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a864b1e00f89a5739cd8cbb2497ce62:8bdb223ba209783f15303a8b369aff32:922e864611000f647005a86d756a810a$</string>
            <key>textureFileName</key>
            <string>COCArcherrun.png</string>
        </dict>
    </dict>
</plist>
