<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>giantrun1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,82}</string>
                <key>spriteSourceSize</key>
                <string>{70,82}</string>
                <key>textureRect</key>
                <string>{{0,0},{70,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>giantrun2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,80}</string>
                <key>spriteSourceSize</key>
                <string>{60,80}</string>
                <key>textureRect</key>
                <string>{{70,0},{60,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>giantrun3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,88}</string>
                <key>spriteSourceSize</key>
                <string>{48,88}</string>
                <key>textureRect</key>
                <string>{{130,0},{48,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>giantrun4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,82}</string>
                <key>spriteSourceSize</key>
                <string>{63,82}</string>
                <key>textureRect</key>
                <string>{{178,0},{63,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>COCGiantrun.png</string>
            <key>size</key>
            <string>{241,88}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4cb5d1e6455f5b94032f7fafeab3d339:5de11b896e5abb66f8b5ef23a3fb9d4c:2602b4caa5d9b7f487715fe4f8f4dd00$</string>
            <key>textureFileName</key>
            <string>COCGiantrun.png</string>
        </dict>
    </dict>
</plist>
