<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Barracks.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{78,80}</string>
                <key>spriteSourceSize</key>
                <string>{78,78}</string>
                <key>textureRect</key>
                <string>{{0,0},{78,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>COCBarracks.png</string>
            <key>size</key>
            <string>{78,80}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:14ed4dfd7f0aec87523d7edfdb937093:78b90c01f82ac37e93bafe3c34682623:fb6c256bba2abcd199fc8532247c07d1$</string>
            <key>textureFileName</key>
            <string>COCBarracks.png</string>
        </dict>
    </dict>
</plist>
