<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>giantattack1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,86}</string>
                <key>spriteSourceSize</key>
                <string>{55,86}</string>
                <key>textureRect</key>
                <string>{{0,0},{55,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>giantattack2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,81}</string>
                <key>spriteSourceSize</key>
                <string>{75,81}</string>
                <key>textureRect</key>
                <string>{{55,0},{75,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>giantattack3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,81}</string>
                <key>spriteSourceSize</key>
                <string>{75,81}</string>
                <key>textureRect</key>
                <string>{{130,0},{75,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>COCGinatattack.png</string>
            <key>size</key>
            <string>{205,86}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba0c79466061afbb5879a94b389e4863:85ff80aed05b7b01282009ef2fed2880:487babb13ffadbc3e7c31f1c77026ec6$</string>
            <key>textureFileName</key>
            <string>COCGinatattack.png</string>
        </dict>
    </dict>
</plist>
